{% extends "main.html" %}

{% block content %}

    <main class="create-room layout">
        <div class="container">
            <div class="layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <a href="{% url "home" %}">
                            <i class="uil uil-arrow-circle-left"></i>
                        </a>
                        <h3>Create Study Room</h3>
                    </div>
                </div>
                <div class="layout__body">
                    <form method="POST" class="form" action="#">
                        {% for field in form %}
                            {% csrf_token %}
                            <div class="form__group">
                                <label for="room_name">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="form__action">
                            <a class="btn btn--dark" href="{% url "home" %}">Cancel</a>
                            <button class="btn btn--main" type="submit">Create Room</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>


{% endblock content %}
