{% extends "main.html" %}

{% block content %}
    <main class="delete-item layout">
        <div class="container">
            <div class="layout__box">
                <div class="layout__boxHeader">
                    <div class="layout__boxTitle">
                        <a href="{% url "home" %}">
                            <i class="uil uil-arrow-circle-left"></i>
                            <h3>Back</h3>
                        </a></div>
                </div>
                <div class="layout__body">
                    <form method="POST" class="form" action="#">
                        {% csrf_token %}
                        <div class="form__group">
                            <p>Are you sure to delete ? </p>
                        </div>

                        <div class="for__group">
                            <input class="btn btn--main" type="submit" value="Confirm" />
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
