<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
	      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>

	<div class="row ">
		<div>
			{% for room in rooms %}

						<div class="bg-white border border-white mt-2  ">

							<div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom text-light" style="background-color: darkslategray">
								<div class="d-flex flex-row align-items-center feed-text px-2"><img
										class="rounded-circle"
										src="https://img.freepik.com/free-photo/young-beautiful-woman-pink-warm-sweater-natural-look-smiling-portrait-isolated-long-hair_285396-896.jpg"
										width="45">
									<div class="d-flex ml-2"><span
											class="font-weight-bold mx-2"> @<a href="{% url "profile" room.host.id %}"
									                                           class="text-warning">  {{ room.host }}</a></span>
										<span class="text-black-50 mx-2">{{ room.created|timesince }} ago</span>


									</div>

								</div>

							</div>


							<div class="p-2 px-3 bg-dark border border-white text-light"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span>
							</div>
							<div class="d-flex justify-content-end  ">
								{% if request.user == room.host %}
									<a href="{% url "update-room" room.id %}"
									   class="btn btn-outline-success btn-sm ">Update</a>
									<a href="{% url "delete-room" room.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
								{% endif %}

							</div>
						</div>
					{% endfor %}
		</div>
	</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


</body>
</html>