{% extends "main.html" %}
{% block content %}

	<h1 style="color: red">Home Template</h1>


	<div>
		<a href="{% url "create-room" %}">Create Room</a>
		<div>
			{% for room in rooms %}
				<div>
					<span style="font-size: 25px">@{{ room.host.username }}</span>
					<small>{{ room.topic }}</small>
					<p style="color: chocolate">{{ room.name }}</p>
					<P>{{ room.description }}</P>
					<h4 style="color: blue">{{ room.id }} - <a href="/room/{{ room.id }}">{{ room.name }}</a></h4>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock content %}

