{% load static %}
<header class="header header--loggedIn">
    <div class="container">
        <a href="{% url 'home' %}" class="header__logo">
            <img src="{% static 'assets/logo.svg' %}" />
            <h1>StudyBuddy</h1>
        </a>
        <form  class="header__search" method="GET" action="{% url 'home' %}">
            <label>

                <input name="q" placeholder="Search for posts" />
            </label>
        </form>
        <nav class="header__menu">


            <!-- Logged In -->
            {% if request.user.is_authenticated %}
            <div class="header__user">
                <a href="{% url "profile" request.user.id %}">
                    <div class="avatar avatar--medium active">
                        <img src="{{request.user.avatar.url}}" />
                    </div>
                    <p>{{request.user.username}} <span>@{{request.user.username}}</span></p>
                </a>
                <button class="dropdown-button">
                  <i class="uil uil-angle-down symbols"></i>
                </button>
            </div>
            {% else %}

            <!-- Not Logged In -->
            <a href="{% url 'login' %}">
                <img src="{% static 'assets/avatar.svg' %}" />
                <p>Login</p>
            </a>
            {% endif %}

            <div class="dropdown-menu">
                <a href="" class="dropdown-link">
                    Settings</a>
                <a href="{% url "profile" request.user.id %}" class="dropdown-link">
                    Logout</a>
            </div>
        </nav>
    </div>
</header>



<!-- {% if request.user.is_authenticated %}
<p>Hello {{request.user}}</p>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %} -->