{% extends "main.html" %}

{% block content %}
    <main class="profile-page layout layout--2">
        <div class="container">
            <!-- Room Start -->
            <div class="room">
                <div class="room__top">
                    <div class="room__topLeft">
                        <a href="{% url "home" %}">  <i class="uil uil-arrow-circle-left"></i>
                        </a>
                        <h3>Study Room</h3>
                    </div>

                    <div class="room__topRight">
                        <a href="{% url "update-room" room.id %}"><i class="uil uil-edit-alt"></i> </a>
                        <a href="{% url "delete-room" room.id %}"><i class="uil uil-multiply"></i></a>
                    </div>

                </div>
                <div class="room__box scroll">
                    <div class="room__header scroll">
                        <div class="room__info">
                            <h3>{{ room.name }}</h3>
                            <span>3 days ago</span>
                        </div>
                        <div class="room__hosted">
                            <p>{{ room.host }}</p>
                            <a href="#" class="room__author">
                                <div class="avatar avatar--small">
                                    <img src="https://randomuser.me/api/portraits/men/37.jpg"/>
                                </div>
                                <span>@{{ room.host }}</span>
                            </a>
                        </div>
                        <div class="room__details">{{ room.description }}</div>
                        <span class="room__topics">{{ room.topic }}</span>
                    </div>
                    <div class="room__conversation">
                        <div class="threads scroll">
                            {% for comment in room_messages %}
                                <div class="thread">
                                    <div class="thread__top">
                                        <div class="thread__author">
                                            <a href="#" class="thread__authorInfo">
                                                <div class="avatar avatar--small">
                                                    <img src="https://randomuser.me/api/portraits/men/37.jpg"/>
                                                </div>
                                                <span>@{{ comment.user }}</span>
                                            </a>
                                            <span class="thread__date">{{ comment.created|timesince }} ago</span>
                                        </div>
                                        <div class="thread__delete">
                                            <a href="#"><i class="uil uil-multiply"></i></a>
                                        </div>
                                    </div>
                                    <div class="thread__details">{{ comment.body }}</div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="room__message">
                    <form action="#"><input name="" placeholder="Write your message here..."/></form>
                </div>
            </div>
            <!-- Room End -->

            <!--   Start -->
            <div class="participants">
                <h3 class="participants__top">Participants <span>{{ participants.count }} joined</span></h3>
                <div class="participants__list scroll">

                    {% for participant in participants %}
                        <a href="profile.html" class="participant">
                            <div class="avatar avatar--medium">
                                <img src="https://randomuser.me/api/portraits/men/37.jpg"/>
                            </div>
                            <p>
                                {{ participant.username }}
                                <span>@{{ participant.username }}</span>
                            </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <!--  End -->
        </div>
    </main>

{% endblock content %}
